body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: lightblue;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    background-color: white;
}

caption {
    color: black;
    font-weight: bold;
    padding: 8px;
    font-size: 1.5em;
}

/*Cabeçalho Fixo*/
thead > tr > th {
    position: sticky;/*Posicionamento Colado*/
    top: -1px;/*Colar no topo*/
}

th {
    font-weight: bold;
    background-color: gray;
    color: white;
}

.area {
    background-color: white;
    color: black;
}

td, th {
    padding: 0px 40px;
    border: 2px solid black;
}